.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

  /* определяем цветовую схему */
  --color-content1: #000;
  --color-content2: #2f80ed;
  --color-bg1: #1f1f1f;
  --color-bg2: #f2f2f2;



}

.header {
  display:flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  background-color: var(--color-bg2);
  /* выше установили ограничения для секции */



}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */



.header__title {
  width: 730px;
  margin: auto 0 auto 64px;
  z-index: 100;

  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 100;

  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: var(--color-content2);

}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right:0;
  bottom:0;
  top:auto;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;

  height: 568px;
  width: 568px;
  background-color: var(--color-content2);
}

/*------------------------------- Description */

.description {
  display: flex;
  justify-content: center;
}

.description__two-columns {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  width: 80%;
  padding-top: 100px;
}

.description__two-columns_brief {
  width: 175px;

  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  color: var(--color-content2);
}

.description__two-columns_main_text {
  width: 80%;
  min-width: 784px;
}

.description__two-columns_paragraph {
  margin: 0 0 30px 0;

  font-size: 24px;
  line-height: 34px;
}

.description__two-columns_span-accent {
  font-weight: bold;
}

.description__two-columns_paragraph:last-of-type {
  margin-bottom: 0px;
}
/* и элемента с модификатором вида ключ-значение */


/*------------------------------------ DIGIT ------------------------------------ */

.digits {
  padding: 100px 0;
  position: relative;

}

/*------------------------------------ TABLE */

.table__section-title {
  width:60%;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
}

.table__section-title_theme_dark {
  position: relative;
  padding-top: 90px;
  z-index: 100;
  color: var(--color-bg2);
}
.table__section-subtitle_theme_dark {
  color: var(--color-bg2);

}

.table__section-subtitle {
  width:60%;
  margin: 0 auto;
  text-align: center;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table__table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;


}

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
  z-index: 100;

}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
  z-index: 100;

}

.table__text {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.2em;

  z-index: 100;
}

.table__text:last-of-type {
  margin-bottom: 0;
}


/*-------------------------------------- Feinman-------------------------- */
.feinman {
  display:flex;
  flex-direction: column;
  justify-items: center;
  background-color: antiquewhite;
  position: relative;

  min-height: 790px;
  height: 790px;
  background: url('../images/feynman.png') no-repeat;
  background-size: 867px 637px;

  background-position: left bottom;
  background-color: var(--color-bg2);
}

.feinman__title {
  width: 648px;
  margin: 0px auto 70px auto;
  text-align: center;

  padding-top: 100px;
  font-size: 120px;
  line-height: 1.15em;
  font-weight: bold;
}

.feinman__subtitle {
  margin: 0 auto;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;

}

.feinman__link {
  position:absolute;
  right: 48px;
  top: 50%;

  font-size: 36px;
  line-height: 51px;
  text-decoration: none;

  color: var(--color-content2);
}

/*----------------------------- KAUFMAN ----------------------- */
.kaufman {
  position: relative;
  background-color: var(--color-bg1);
  overflow: hidden;
  padding-bottom: 90px;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 1;
  width: 877px;
  height: 877px;

}


/*---------------------------- FOOTER ---------------------------------------*/

.footer {
  box-sizing: border-box;
  color: var(--color-content2);
  padding: 60px 0 40px 0;
  background-color: var(--color-content1);
  min-height: 350px;
  height:350px;

}

.footer__columns {
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  line-height: 25px;
}

.footer__author {
margin: 18px 0;
color: var(--color-bg2);
}

.footer__column_content_info {
  color: var(--color-bg2);
}

.footer__column_content_social {
  color: var(--color-bg2);
}

.footer__column_links {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: var(--color-bg2);

  font-size: 18px;
  line-height: 30px;

}

.footer__column_links:last-of-type {
  margin-bottom: 16px;
}

.footer__column-heading {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}


/*--------------------------- LOGO ----------------*/

.logo_place_footer {
  background: url("../images/logo_place_footer.svg") no-repeat;
  width: 183px;
  height: 35px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;

  background: url("../images/logo_place_header.svg") no-repeat;
  width: 183px;
  height: 32px;
}
